html {
	background-color: palegoldenrod;
	box-shadow: 0 .2vw 0 0 black inset, .2vw 0 0 0 black inset, -.2vw 0 0 0 black inset, 0 -.2vw 0 0 black inset;
}

#header {
	min-width: 943px;
	width: 100%;
	-webkit-text-stroke: 1px white;
	margin: 0px;
	color: black;
	text-align: center;
	display: flex;
	text-decoration: underline black;
	text-decoration-thickness: 3px;
}

body {
	margin: 0px;
	padding-bottom: 8px;
}

.headerLink {
	cursor: pointer;
	width: 16.666%;
	font-size: 60px;
	display: inline-block;
	box-shadow: 0 .2vw 0 0 black inset, .2vw 0 0 0 black inset, -.2vw 0 0 0 black inset, 0 -.2vw 0 0 black inset;
	line-height: 100px;
	font-family: sans-serif;
}

#title {
	background-color: silver;
	font-size: 100px;
	width: 50%;
	display: inline-block;
	box-shadow: 0 .2vw 0 0 black inset, 2.5vw 0 0 0 black inset, -.2vw 0 0 0 black inset, 0 -.2vw 0 0 black inset;
	font-style: italic;
	font-weight: bold;
	font-family: serif;
}
#index {
	background-color: lightcoral;
}
#rules {
	background-color: palegreen;
}
#next {
	background-color: cornflowerblue;
}
.selected {
	background-color: palegoldenrod !important;
	box-shadow: 0 .2vw 0 0 black inset, .2vw 0 0 0 black inset, -.2vw 0 0 0 black inset;
}

#wrapper {
	width: 943px;
	margin: auto;
}

.h1 {
	font-size: 60px;
	font-weight: bold;
	padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    text-align:center;
}

.h2 {
	font-size: 40px;
	font-weight: bold;
	padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    text-align:left;
    img {
		width: 25px;
	 	height: auto;
	}
}

.text {
	font-size: 20px;
	font-weight: normal;
	font-family: sans-serif;
	padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 24px;
    img {
		width: 15px;
	 	height: auto;
	}
}

.docwrapper {
	display: flex;
	padding-top: 8px;
}

.doc {
	background-color: black;
	min-width: calc(907px/6);
	min-height: 40px;
	margin-right: 4px;
	display: inline-block;
	cursor: pointer;
	background-size: cover;
	box-shadow: 0 2px 0 0 black inset, 2px 0 0 0 black inset, -2px 0 0 0 black inset, 0 -2px 0 0 black inset;
}

#bn1 {
	background-image: url("./images/bn1.png");
}
#bn2 {
	background-image: url("./images/bn2.png");
}
#bn3white {
	background-image: url("./images/bn3white.png");
}
#bn3blue {
	background-image: url("./images/bn3blue.png");
}
#bn4redsun {
	background-image: url("./images/bn4redsun.png");
}
#bn4bluemoon {
	background-image: url("./images/bn4bluemoon.png");
}
#bn5teamprotoman {
	background-image: url("./images/bn5teamprotoman.png");
}
#bn5teamcolonel {
	background-image: url("./images/bn5teamcolonel.png");
}
#bn6cybeastgregar {
	background-image: url("./images/bn6cybeastgregar.png");
}
#bn6cybeastfalzar {
	background-image: url("./images/bn6cybeastfalzar.png");
}
#sf1pegasus {
	background-image: url("./images/sf1pegasus.png");
}
#sf1leo {
	background-image: url("./images/sf1leo.png");
}
#sf1dragon {
	background-image: url("./images/sf1dragon.png");
}
#sf2ninja {
	background-image: url("./images/sf2ninja.png");
}
#sf2zerker {
	background-image: url("./images/sf2zerker.png");
}
#sf2saurian {
	background-image: url("./images/sf2saurian.png");
}
#sf3blackace {
	background-image: url("./images/sf3blackace.png");
}
#sf3redjoker {
	background-image: url("./images/sf3redjoker.png");
}
